# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Datasets & Data Files
# =========================
data/
datasets/
*.csv
*.xlsx
*.json

# =========================
# Model Files
# =========================
*.pkl
*.joblib

# =========================
# Logs & Temporary Files
# =========================
logs/
*.log
*.tmp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================
.vscode/
.idea/
